@let profileValue = profile();

@if (profileValue) {
  <header class="profile-page__header">
    <app-profile-header [profile]="profileValue"></app-profile-header>

    @if (isVisibleSettings()) {
      <a class="btn to-settings-btn" [routerLink]="['/settings']">
        Редактировать
        <svg icon="settings" class="to-settings-icon"></svg>
      </a>
    }
  </header>

  <main class="profile-page__body">
    <app-post-feed></app-post-feed>

    <div>
      <h3 class="h6 mb16">Подписчики</h3>

      <div class="subscriber-wrapper mb32">
        @for (subscriber of subscribers(); track subscriber.id) {
          <a class="subscriber-avatar-btn" [routerLink]="['/profile', subscriber.id]">
            <img
              [ngSrc]="subscriber.avatarUrl ?? '/assets/imgs/avatar-placeholder.png'"
              [alt]="subscriber.lastName"
              class="profile-icon"
              width="36"
              height="36"
            />
          </a>
        }

        <a class="to-subscribers-search" [routerLink]="['/search']">
          <svg icon="add" class="to-add-icon"></svg>
        </a>
      </div>

      <h3 class="h6 mb16">Навыки</h3>
      <div class="stack-wrapper mb32">
        @for (skill of profileValue.stack; track skill) {
          <div class="skill-tag">{{ skill }}</div>
        }
      </div>

      <h3 class="h6 mb16">О себе</h3>
      <p class="medium-text">{{ profileValue.description }}</p>
    </div>
  </main>
}
